@import "../../global.scss";

.intro {
  display: flex;
  height: calc(120vh - 70px);
  padding-top: 100px;
  // border: 1px solid red;

  @include mobile {
    flex-direction: column;
  }

  .left {
    flex: 1;

    //  include 放在left 和left-wrapper 为什么有区别呢？？
    // 为什么放在left，结果 left-wrapper padding变成了50px,
    // 因为如果放在left里面，说明在屏幕 480 的时候，对left进行调整，而不是对leftwrapper调整
    // 所以left wrapper依然用的是之前的padding 50px
    .left-wrapper {
      padding: 50px;
      height: 60%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 200px;

      @include mobile {
        padding: 10px;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 100%;
      }

      .desc {
        // border: 1px solid red;
        // padding-top: 10px;
        @include mobile {
          display: none;
        }
      }

      .button-intro {
        margin-top: 50px;
        button {
          border: 1px solid gray;
          border-radius: 10px;
          padding: 10px;
          font-size: 20px;
          background-color: $mainColor;
          cursor: pointer;
          margin: 20px;
          color: white;

          &:hover {
            background-color: white;
            color: $mainColor;
            transform: scale(1.05);
          }
        }
      }

      .name-intro {
        font-size: 30px;
        font-weight: 300px;
      }

      .name {
        font-size: 60px;
      }

      .title {
        height: 50px;
        overflow: hidden;

        // 定义 animation 的名字 move
        .title-wrapper {
          height: 100%;
          animation: move 10s ease-in-out infinite alternate;

          .title-item {
            height: 50px;
            font-size: 30px;
            font-weight: bold;
            color: $mainColor;
            display: flex;
            align-items: center;
          }
        }
      }

      // 呼应 animation名字 move，这个可以写在title 外面
      @keyframes move {
        25% {
          transform: translateY(-50px);
        }

        50% {
          transform: translateY(-100px);
        }

        75% {
          transform: translateY(-150px);
        }

        100% {
          transform: translateY(-200px);
        }
      }
    }
  }

  .right {
    // flex: 1;
    // position: relative;
    display: flex;
    justify-content: center;
    // --->
    align-items: center;
    box-shadow: 0 10px 0 0px $mainColor;
    border-radius: 50%;
    height: 380px;
    width: 380px;
    margin: 100px;
    margin-right: 400px;

    .img {
      // width: 100%;
      // height: 100%;
      // object-fit: cover;
      // position: absolute;
      height: 92%;
      width: 92%;
      background-size: cover;
      // object-fit: contain;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: center;

      // @include mobile {
      //   object-fit: contain;
      // }
    }

    // .backg {
    //   position: absolute;
    //   top: 0;
    //   right: 0;
    //   width: 100%;
    //   height: 100%;
    //   background-color: $mainColor;
    //   // clip-path: polygon(100% 0%, 88% 52%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    // }
  }
}

//  原始的CSS 写法，调整responsible
// 可以在global scss里面 写mixin 函数，这样其他文件 使用 @include 调整 responsible
// @media screen and (max-width: 480px) {

//     .intro {
//         flex-direction: column;

//         .left {

//             .left-wrapper {
//                 padding: 10px;
//                 align-items: center;
//                 text-align: center;
//             }

//         }
//     }
// }
