.toggle {
  width: 50px;
  height: 25px;
  border-radius: 20px;
  border: 1px solid red;
  background-color: white;
  position: fixed;
  top: 43px;
  right: 43px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .icon {
    width: 15px;
    height: 15px;
  }

  .sun {
    width: 20px;
    height: 20px;
  }

  .button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #999;
    //     为什么设置了 absolute，就变道中间去 了

    position: absolute;
    cursor: pointer;
  }
}
